




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding/border are included in element's total width/height */
}

body{
  font-family: "Roboto", sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.header, .section-about, .footer {
  background-color: #1f2937;
  color: white;

}

.header {
  display: flex;
  
  justify-content: space-between;
  padding: 15px 70px;
}

.section-about {
  display: flex;
  align-items: flex-start; /* Aligns items to the top of the container */
  gap: 40px;
  padding: 70px; /*same padding to align header w/ hero */

}

.about-text {
  flex: 2;
}

.about-text h1 {
  margin-bottom: 15px;
}

.about-text p {
  margin-bottom: 12px;
}

.learnmore-button {
  padding: 9px 15px;
  background-color: #3882f6;
  border: none;
  color: white;
  border-radius: 10px;
}

.group-pic {
  max-width: 30%;
  max-height: auto;
  align-self: center;
}

.section-members h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 25px;
}

.card {
  text-align: center;
}

.card .headshot{
  border: 3px solid #3882f6;
  border-radius: 10px;
  padding: 45px 0px;
  width: 150px;
  margin-bottom: 10px;
  
}

.member-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:25px;
  margin-bottom: 60px;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 65px 100px;
  display: flex;
  flex-direction: column;
}

.quote-section p {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-section h3 {
  align-self: flex-end;
}

.signup-section {
  padding: 60px;
  display: flex;
  justify-content: center;
}

.signup-container {
  background-color: #3882f6;
  color: white;
  
  padding: 30px 50px;
  display: flex;
  gap: 20px;
  justify-content: space-around;

  max-width: 1000px;
  margin: 0;
}

.signup-button {
  padding: 0px 25px;
  color: white;
  background-color: #3882f6;
  border: 1px solid white;
  border-radius: 3px;
}

.footer {
  text-align: center;
  padding: 30px 0px;
  font-weight: 100;
}










